@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h1 class="display-6">to the CRUD operations generator</h1>
    <br>
    <p class="lead w">Register your favorite animation characters, catalog the scenario where the story takes place, the film's title, release date, and others...</p>
</div>
